In [1]:
type(99.9)

float

In [6]:
type("False")

str

In [7]:
type(False)

bool

In [8]:
type('0')

str

In [9]:
type(0)

int

In [10]:
type(True)

bool

In [14]:
type('True')

str

In [26]:
type({})

dict

In [74]:
#Dictionary
{'name': 'Codeup', 'age': 4}

{'name': 'Codeup', 'age': 4}

2. What data type would best represent the following?

-A term or phrase typed into a search box -str
-Whether or not a user is logged in - bool
-A discount amount to apply to a user's shopping cart - int
-Whether or not a coupon code is valid - bool
-An email address typed into a registration form - str
-The price of a product - float
-The email addresses collected from a registration form - str
-Information about applicants to Codeup's data science program - dict

3. For each of the following code blocks:

Read the expression and predict the evaluated results

Execute the expression in a Python REPL.
'1' + 2 - ERROR
6 % 4 - 2 (remainder)
type(6 % 4) - int
'3 + 4 is ' + 3 + 4 - ERROR
0 < 0 - FALSE
'False' == False - FALSE
True == 'True' - FALSE
5 >= -5 - TRUE
True or "42" TRUE
6 % 5 - 1
5 < 4 and 1 == 1 - FALSE
'codeup' == 'codeup' and 'codeup' == 'Codeup' - FALSE
4 >= 0 and 1 !== '1' - ERROR
6 % 3 == 0 - TRUE
5 % 2 != 0 - TRUE
[1] + 2 - ERROR
[1] + [2] - [1, 2]
[1] * 2 - [1, 1]
[1] * [2] - ERROR
[] + [] == [] - TRUE
{} + {} - ERROR

In [31]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [32]:
6 % 4

2

In [33]:
type(6 % 4)

int

In [34]:
'3 + 4 is ' + 3 + 4

TypeError: can only concatenate str (not "int") to str

In [35]:
0 < 0

False

In [36]:
'False' == False

False

In [37]:
True == 'True'

False

In [38]:
5 >= -5

True

In [39]:
True or "42"

True

In [40]:
6 % 5

1

In [41]:
5 < 4 and 1 == 1

False

In [42]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'

False

In [43]:
4 >= 0 and 1 !== '1'

SyntaxError: invalid syntax (383778220.py, line 1)

In [44]:
6 % 3 == 0

True

In [45]:
5 % 2 != 0

True

In [46]:
[1] + 2

TypeError: can only concatenate list (not "int") to list

In [47]:
[1] + [2]

[1, 2]

In [48]:
[1] * 2

[1, 1]

In [49]:
[1] * [2]

TypeError: can't multiply sequence by non-int of type 'list'

In [50]:
[] + [] == []

True

In [51]:
{} + {}

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

4. You have rented some movies for your kids:

The Little Mermaid for 3 days
Brother Bear for 5 days
Hercules for 1 day
If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

(3*1)+(3*3)+(3*5) = 27

In [52]:
(3*1)+(3*3)+(3*5)

27

5. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

Google: 400 dollars
Amazon: 380 dollars
Facebook: 350 dollars
This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

How much will you receive in payment for this week?

(10*350)+(6*400)+(4*380) = 7420

In [53]:
(10*350)+(6*400)+(4*380)

7420

6. A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

if class has an opening AND there is no conflict with the schedule, then the student can add the class.

7. A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

if the offer is still valid, non-premium-members need to buy 3 or more products to get the offer.  
if offer is available, premium memebers get the offer automatically.

8. Use the following code to follow the instructions below:


username = 'codeup'
password = 'notastrongpassword'
Create a variable that holds a boolean value for each of the following conditions:

The password must be at least 5 characters
The username must be no more than 20 characters
The password must not be the same as the username
Bonus Neither the username or password can start or end with whitespace

In [58]:
username = 'codeup'
password = 'notastrongpassword'

In [60]:
len(password) > 5

True

In [61]:
len(username) <= 20

True

In [62]:
username != password

True

In [66]:
username[0] and password[0] != ' '

True